@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Quản lý sản phẩm</h1>
<style>
    .remove-image {
        display: none;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 10em;
        padding: 2px 6px 3px;
        text-decoration: none;
        font: 700 21px/20px sans-serif;
        background: #555;
        border: 3px solid #fff;
        color: #FFF;
        box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
        -webkit-transition: background 0.5s;
        transition: background 0.5s;
    }

        .remove-image:hover {
            background: #E54E4E;
            padding: 3px 7px 5px;
            top: -11px;
            right: -11px;
        }

        .remove-image:active {
            background: #E54E4E;
            top: -10px;
            right: -11px;
        }

    .suggestions-list {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

        .suggestions-list li {
            padding: 8px 12px;
            cursor: pointer;
        }

            .suggestions-list li:hover {
                background-color: #eee;
            }
</style>
<div id="Admin_products">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Lưu ý số hiệu sản phẩm trùng nhau để mỗi sản phẩm có màu khác nhau!!! Nếu sản phẩm chỉ có 1 màu vui lòng không nhập số hiệu sản phẩm
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="main">
        <div class="p-3">
            <button type="button" class="btn btn-success p-2" data-bs-toggle="modal" data-bs-target="#exampleModal" v-on:click="resetData">
                Thêm mới sản phẩm
            </button>
        </div>
        <table class="table table-bordered" id="product_table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Slug sản phẩm</th>
                    <th>Ảnh sản phẩm</th>
                    <th>Giá sản phẩm</th>
                    <th>Danh mục sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Số hiệu sản phẩm</th>
                    <th>Ngày tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in dataProductsItems" :key="index">
                    <td>{{index + 1}}</td>
                    <td>{{item.nameProduct}}</td>
                    <td>{{item.slug}}</td>
                    <td>
                        <img :src="item.imgProducts" style="width: 80px; height: auto; object-fit: cover" />
                    </td>
                    <td>
                        <span>Giá chưa giảm: <span class="text-primary"> {{formatCurrency(item.beforePrice)}} </span> </span><br />
                        <span>Giá giảm: <span class="text-black"> {{formatCurrency(item.disPrice)}} </span></span>
                    </td>
                    <td>
                        <span>Thuộc danh mục: {{item.cateName}}</span> <br />
                        <span>Thuộc danh mục phụ: {{item.subName}}</span>
                    </td>
                    <td>
                        {{item.quantity}}
                    </td>
                    <td>
                        {{item.productNumber}}
                    </td>
                    <td>
                        {{formatDate(new Date(item.createDate))}}
                    </td>

                    <td style="width: fit-content">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Edit" v-on:click="getItemsById(item.id)">Sửa</button>
                        <button type="button" class="btn btn-danger" v-on:click="getItemsByIdDelete(item.id)">Xóa</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">


                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                Vui lòng up danh sách ảnh để hiển thị đẹp hơn!!!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label">Tên sản phẩm </label>
                                <input class="form-control" type="text" placeholder="Tên sản phẩm" aria-label="default input example" v-model="ProductName">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Slug sản phẩm </label>
                                <input class="form-control" type="text" :value="Slug" placeholder="Slug được tạo tự động" readonly />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Số hiệu sản phẩm </label>
                                <input class="form-control" type="text" placeholder="Số hiệu sản phẩm" v-model="ProductNumber" v-on:input="onInput" />
                                <ul v-if="suggestions.length" class="suggestions-list">
                                    <li v-for="suggestion in suggestions" :key="suggestion.productNumber" v-on:click="selectSuggestion(suggestion)">
                                        {{ suggestion.productNumber }} - Tên Sp: {{ suggestion.nameProduct }}
                                    </li>
                                </ul>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Giá sản phẩm </label>
                                <input class="form-control  mb-2" type="number" placeholder="Giá sản phẩm" aria-label="default input example" v-model="BeforePrice">
                                @*<div>Giá: {{formatCurrency(BeforePrice)}}</div>*@

                            </div>
                            <div class="mb-3">
                                <label class="form-label">Giá sản phẩm đã giảm giá </label>
                                <input class="form-control mb-2" type="number" placeholder="Giá sản phẩm đã giảm giá " aria-label="default input example" v-model="DisPrice">
                                @*<div>Giá giảm: {{formatCurrency(DisPrice)}}</div>*@

                            </div>

                            <div class="mb-3">
                                <label class="form-label">Thuộc danh mục chính</label>
                                <select v-model="CategoryID" class="form-control">
                                    <option v-for="tp in dataItems" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameCate }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Thuộc danh mục phụ</label>
                                <select v-model="SubCategoryID" class="form-control">
                                    <option v-for="tp in filteredSubCategories" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameSub }}</option>
                                </select>
                            </div>

                            <div class="mb-3 d-flex flex-column">
                                <label class="form-label">Size</label>
                                <div class="row">
                                    <div v-for="tp in dataSize" :key="tp.id" class="col-md-3 ml-4">

                                        <input class="form-check-input" type="checkbox" v-model="tp.selected" v-on:change="updateCateJson">
                                        <label class="form-check-label" for="defaultCheck1">
                                            {{ tp.nameSize }}
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="mb-3">
                                <label class="form-label">Số lượng</label>
                                <input class="form-control" type="text" placeholder="Số lượng" aria-label="default input example" v-model="Quantity">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Thương hiệu</label>
                                <select v-model="brandsID" class="form-control">
                                    <option v-for="tp in dataBrands" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameBrand }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">CLB</label>
                                <select v-model="clbID" class="form-control">
                                    <option v-for="tp in dataCLB" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameMainCLB }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Màu sắc</label>
                                <select v-model="colorID" class="form-control">
                                    <option v-for="tp in dataColor" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameColor }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Chất liệu</label>
                                <input class="form-control" type="text" placeholder="Chất liệu" aria-label="default input example" v-model="Material">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Sản phẩm thuộc độ tuổi</label>
                                <select v-model="AgeID" class="form-control">
                                    <option v-for="tp in dataAge" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameAge }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Loại vành</label>
                                <select v-model="RimID" class="form-control">
                                    <option v-for="tp in dataItemsRim" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.rimName }}</option>
                                </select>
                            </div>
                            @* <div class="mb-3">
                            <label class="form-label">Mặt sau</label>
                            <input class="form-control" type="text" placeholder="Mặt sau" aria-label="default input example">
                            </div>*@


                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label"> Chọn Ảnh chính </label>
                                <input type="file" ref="PrPath" v-on:change="onFileChange" accept="image/*">

                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Ảnh xem trước </div>
                                <img :src="previewImage" alt="" style="width:50%" />
                            </div>
                            <div class="col-12 mb-4">
                                <input type="file" multiple v-on:change="previewFiles">
                                <label for="formFileSm" class="form-label"> Chọn danh sách ảnh</label>
                            </div>

                            <div class="row">

                                <div class="col-3 mb-3" v-for="imgSrc in imagesPreview" :key="imgSrc">
                                    <div>
                                        <img :src="imgSrc" alt="Preview" style="width: 100%; height: auto; object-fit: cover">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="addProducts">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    @*edit*@
    <div class="modal fade" id="Edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-fullscreen ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa sản phẩm</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" v-on:click="resetData">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                Vui lòng up danh sách ảnh sản phẩm đã xóa background!!!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label">Tên sản phẩm </label>
                                <input class="form-control" type="text" placeholder="Tên sản phẩm" aria-label="default input example" v-model="ProductName">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Slug sản phẩm </label>
                                <input class="form-control" type="text" :value="Slug" placeholder="Slug được tạo tự động" readonly />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Số hiệu sản phẩm </label>
                                <input class="form-control" type="text" placeholder="Số hiệu sản phẩm" v-model="ProductNumber" />
                            </div>
                            <div class="mb-3 d-flex flex-column">
                                <label class="form-label">Size</label>
                                <div class="row">
                                    <div v-for="tp in dataSize" :key="tp.id" class="col-md-3 ml-4">

                                        <input class="form-check-input" type="checkbox" v-model="tp.selected" v-on:change="updateCateJson">
                                        <label class="form-check-label" for="defaultCheck1">
                                            {{ tp.nameSize }}
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="mb-3">
                                <label class="form-label">Giá sản phẩm </label>
                                <input class="form-control mb-2" type="number" placeholder="Giá sản phẩm" aria-label="default input example" v-model="BeforePrice">
                                <div>Giá: {{formatCurrency(BeforePrice)}}</div>

                            </div>
                            <div class="mb-3">
                                <label class="form-label">Giá sản phẩm đã giảm giá </label>
                                <input class="form-control mb-2" type="number" placeholder="Giá sản phẩm đã giảm giá " aria-label="default input example" v-model="DisPrice">
                                <div>Giá giảm: {{formatCurrency(DisPrice)}}</div>

                            </div>

                            <div class="mb-3 ">
                                <label class="form-label">Thuộc danh mục chính</label>
                                <select v-model="CategoryID" class="form-control">
                                    <option v-for="tp in dataItems" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameCate }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Thuộc danh mục phụ</label>
                                <select v-model="SubCategoryID" class="form-control">
                                    <option v-for="tp in filteredSubCategories" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameSub }}</option>
                                </select>
                            </div>
                            @*<div class="mb-3">
                            <label class="form-label">Size</label>
                            <input class="form-control" type="text" placeholder="Size" aria-label="default input example" >
                            </div>*@
                            <div class="mb-3">
                                <label class="form-label">Số lượng</label>
                                <input class="form-control" type="text" placeholder="Số lượng" aria-label="default input example" v-model="Quantity">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Thương hiệu</label>
                                <select v-model="brandsID" class="form-control">
                                    <option v-for="tp in dataBrands" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameBrand }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">CLB</label>
                                <select v-model="clbID" class="form-control">
                                    <option v-for="tp in dataCLB" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameMainCLB }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Màu sắc</label>
                                <select v-model="colorID" class="form-control">
                                    <option v-for="tp in dataColor" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameColor }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Chất liệu</label>
                                <input class="form-control" type="text" placeholder="Chất liệu" aria-label="default input example" v-model="Material">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Sản phẩm thuộc độ tuổi</label>
                                <select v-model="AgeID" class="form-control">
                                    <option v-for="tp in dataAge" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.nameAge }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Loại vành</label>
                                <select v-model="RimID" class="form-control">
                                    <option v-for="tp in dataItemsRim" v-bind:key="tp.id" v-bind:value="tp.id">{{ tp.rimName }}</option>
                                </select>
                            </div>
                            @* <div class="mb-3">
                            <label class="form-label">Mặt sau</label>
                            <input class="form-control" type="text" placeholder="Mặt sau" aria-label="default input example">
                            </div>*@


                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="formFileSm" class="form-label"> Chọn Ảnh chính </label>
                                        <input type="file" ref="PrPath1" v-on:change="onFileChange" accept="image/*">

                                    </div>
                                    <div class="mb-3">
                                        <div class="form-label"> Ảnh xem trước </div>
                                        <img :src="previewImage" alt="" style="width:50%" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <div class="form-label"> Ảnh chính đang có  </div>
                                        <img :src="imageProducts" alt="" style="width:50%" />
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="mb-3">
                                        <div class="form-label"> Danh sách ảnh đang có  </div>
                                    </div>
                                </div>

                                <div class="row">


                                    <div class="col-4" v-for="imgFull in fullImg">
                                        <div>
                                            <img :src="imgFull" style="width: 100px; height: auto; object-fit: cover" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mb-4">
                                    <input type="file" multiple v-on:change="previewFiles" ref="fileInput">
                                    <label for="formFileSm" class="form-label"> Chọn danh sách ảnh</label>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <div class="form-label"> Danh sách ảnh  </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-3 mb-3" v-for="(imgSrc,index) in imagesPreview" :key="index">
                                        <div>
                                            <div class="position-relative">
                                                <img :src="imgSrc" alt="Preview" style="width: 100%; height: auto; object-fit: cover">

                                            </div>
                                            <a class="remove-image" href="javascript:void(0)" v-on:click="removeImage(index)" style="display: inline;">&#215;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetData">Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="editProducts">Sửa danh mục</button>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/admin/admin_products.js"></script>
