<section class="container mb-5 mt-5">
    <div class="svelte-9cuitx">
        @* <div class="mobile svelte-9cuitx" data-testid="mobile-link-list">
        <button id="u8c63608d-6b3e-4a37-8aae-99ff8646df48-header-navigation" aria-expanded="false" class="svelte-18w5r4o">
        <div slot="header">Hàng hải</div>
        <svg width="9" height="15" viewBox="0 0 9 15" fill="none" class="all down svelte-dvmif3" stroke="currentColor">
        <path d="M1.84717 13.6074L7.06212 7.60742L1.84717 1.60742" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <svg class="fitted-world down svelte-dvmif3" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M17.3999 9L11.3999 15L5.3999 9" stroke="#262626" stroke-width="1.2" transform="rotate(270 12 12)"></path></svg>
        </button>
        </div>*@
        <div class="desktop desktop-container svelte-9cuitx" data-testid="desktop-link-list">
            <a href="/info/delivery" class="svelte-9cuitx">Gửi</a>
            <a href="/info/returns-exchanges" class="svelte-9cuitx">Hoàn trả</a>
            <a href="/info/terms-and-conditions" class="svelte-9cuitx">Điều khoản và điều kiện</a>
            <a href="/info/about-thebunder" class="svelte-9cuitx">About The Bunder</a>
            <a href="/info/faq" class="svelte-9cuitx">Câu hòi thường gặp</a>
            <a href="/info/contact-us" class="svelte-9cuitx">Liên hệ với chúng tôi</a>
        </div>
    </div>
    
</section>