<footer class="" id="footer_vue">
    <div class="d-flex align-items-center justify-content-center bottom-footer">
        <div class="content-bottom">
            <div class="logo-link-list svelte-qmgulr">
                <a href="/" class="logo-container svelte-132tfyi" aria-label="Bắt đầu">
                    <svg width="352" height="66" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0" y="0" fill="#FFFFFF" width="352" height="66"/>
                        <text x="176" y="33" font-size="20" text-anchor="middle" dominant-baseline="middle" fill="#000000">The Bunder</text>
                    </svg>
                </a>
            
                <div class="text-links svelte-qmgulr mt-3">
                    <a href="./info/delivery"
                       class="svelte-qmgulr">Gửi</a>
                    <a href="./info/returns-exchanges"
                       class="svelte-qmgulr">Hoàn trả</a>
                    <a href="./info/terms-and-conditions"
                       class="svelte-qmgulr">Điều khoản và điều kiện</a>
                    <a href="./info/about-thebunder"
                       class="svelte-qmgulr">About Hatstore</a>
                    <a href="./info/faq" class="svelte-qmgulr">
                        Câu
                        hòi thường gặp
                    </a><a href="./info/contact-us" class="svelte-qmgulr">
                        Liên hệ với chúng
                        tôi
                    </a>
                </div>
            </div>
            <div class="socials-container">
                <div class="email mb-2 socials-title ">
                    Kết nối với The Bunder
                </div>
                <div class="social ">
                    <a href="#" rel="nofollow">
                        <svg width="38" height="39" viewBox="0 0 38 39"
                             fill="none" class="svelte-cm8po2">
                            <g clip-path="url(#clip0_1477_4384)">
                                <path d="M38 19.0303C38 8.53574 29.4945 0.0302734 19 0.0302734C8.50547 0.0302734 0 8.53574 0 19.0303C0 29.5248 8.50547 38.0303 19 38.0303C19.1113 38.0303 19.2227 38.0303 19.334 38.0229V23.2385H15.252V18.4811H19.334V14.9779C19.334 10.9182 21.8129 8.70645 25.4348 8.70645C27.1715 8.70645 28.6633 8.83262 29.0938 8.89199V13.1373H26.6C24.6332 13.1373 24.2473 14.0725 24.2473 15.4455V18.4736H28.9602L28.3441 23.2311H24.2473V37.2955C32.1887 35.017 38 27.7064 38 19.0303Z"
                                      fill="#F1F1F1" class="svelte-cm8po2"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_1477_4384">
                                    <rect width="38" height="38" fill="white" transform="translate(0 0.0302734)">
                                    </rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </a><a href="#" rel="nofollow">
                        <svg width="38" height="39" viewBox="0 0 38 39"
                             fill="none" class="svelte-cm8po2">
                            <g clip-path="url(#clip0_1477_4380)">
                                <path d="M22.6367 19.0303C22.6367 21.0388 21.0085 22.667 19 22.667C16.9915 22.667 15.3633 21.0388 15.3633 19.0303C15.3633 17.0217 16.9915 15.3936 19 15.3936C21.0085 15.3936 22.6367 17.0217 22.6367 19.0303Z"
                                      fill="#F1F1F1" class="svelte-cm8po2"></path>
                                <path d="M27.5049 12.596C27.3301 12.1223 27.0512 11.6935 26.6888 11.3415C26.3369 10.9791 25.9084 10.7002 25.4344 10.5254C25.0499 10.3761 24.4724 10.1984 23.4087 10.15C22.258 10.0975 21.913 10.0862 18.9999 10.0862C16.0866 10.0862 15.7416 10.0972 14.5912 10.1497C13.5275 10.1984 12.9497 10.3761 12.5655 10.5254C12.0915 10.7002 11.6627 10.9791 11.3111 11.3415C10.9487 11.6935 10.6698 12.122 10.4946 12.596C10.3453 12.9804 10.1676 13.5582 10.1192 14.6219C10.0667 15.7723 10.0554 16.1173 10.0554 19.0307C10.0554 21.9438 10.0667 22.2888 10.1192 23.4395C10.1676 24.5032 10.3453 25.0807 10.4946 25.4651C10.6698 25.9391 10.9484 26.3676 11.3108 26.7196C11.6627 27.082 12.0912 27.3609 12.5652 27.5357C12.9497 27.6853 13.5275 27.863 14.5912 27.9114C15.7416 27.9639 16.0863 27.9749 18.9996 27.9749C21.9133 27.9749 22.2583 27.9639 23.4084 27.9114C24.4721 27.863 25.0499 27.6853 25.4344 27.5357C26.3859 27.1687 27.1379 26.4166 27.5049 25.4651C27.6543 25.0807 27.832 24.5032 27.8807 23.4395C27.9332 22.2888 27.9442 21.9438 27.9442 19.0307C27.9442 16.1173 27.9332 15.7723 27.8807 14.6219C27.8323 13.5582 27.6545 12.9804 27.5049 12.596ZM18.9999 24.6328C15.9057 24.6328 13.3973 22.1247 13.3973 19.0304C13.3973 15.9361 15.9057 13.4281 18.9999 13.4281C22.0939 13.4281 24.6023 15.9361 24.6023 19.0304C24.6023 22.1247 22.0939 24.6328 18.9999 24.6328ZM24.8238 14.5158C24.1007 14.5158 23.5145 13.9296 23.5145 13.2066C23.5145 12.4835 24.1007 11.8973 24.8238 11.8973C25.5468 11.8973 26.1331 12.4835 26.1331 13.2066C26.1328 13.9296 25.5468 14.5158 24.8238 14.5158Z"
                                      fill="#F1F1F1" class="svelte-cm8po2"></path>
                                <path d="M19 0.0302734C8.50819 0.0302734 0 8.53847 0 19.0303C0 29.5221 8.50819 38.0303 19 38.0303C29.4918 38.0303 38 29.5221 38 19.0303C38 8.53847 29.4918 0.0302734 19 0.0302734ZM29.8443 23.5283C29.7916 24.6897 29.6069 25.4827 29.3373 26.1767C28.7705 27.6423 27.612 28.8008 26.1465 29.3676C25.4527 29.6372 24.6595 29.8216 23.4984 29.8746C22.3349 29.9277 21.9632 29.9404 19.0003 29.9404C16.037 29.9404 15.6657 29.9277 14.5019 29.8746C13.3408 29.8216 12.5476 29.6372 11.8538 29.3676C11.1256 29.0936 10.4663 28.6642 9.92125 28.109C9.36635 27.5643 8.93698 26.9047 8.66301 26.1767C8.39339 25.483 8.20871 24.6897 8.15594 23.5286C8.10231 22.3649 8.08984 21.9932 8.08984 19.0303C8.08984 16.0673 8.10231 15.6956 8.15565 14.5322C8.20842 13.3708 8.39281 12.5779 8.66243 11.8838C8.9364 11.1558 9.36606 10.4963 9.92125 9.95152C10.466 9.39633 11.1256 8.96696 11.8535 8.69299C12.5476 8.42337 13.3405 8.23898 14.5019 8.18593C15.6654 8.13287 16.037 8.12012 19 8.12012C21.963 8.12012 22.3346 8.13287 23.4981 8.18622C24.6595 8.23898 25.4524 8.42337 26.1465 8.6927C26.8744 8.96667 27.534 9.39633 28.079 9.95152C28.6339 10.4966 29.0636 11.1558 29.3373 11.8838C29.6072 12.5779 29.7916 13.3708 29.8446 14.5322C29.8977 15.6956 29.9102 16.0673 29.9102 19.0303C29.9102 21.9932 29.8977 22.3649 29.8443 23.5283Z"
                                      fill="#F1F1F1" class="svelte-cm8po2"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_1477_4380">
                                    <rect width="38" height="38" fill="white" transform="translate(0 0.0302734)">
                                    </rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </a><a href="#" rel="nofollow">
                        <svg width="40" height="41" viewBox="0 0 40 41"
                             fill="none" class="svelte-cm8po2">
                            <g clip-path="url(#clip0_1477_4386)">
                                <path d="M20 0.0302734C8.95599 0.0302734 -1.42329e-08 8.98626 -3.1784e-08 20.0303C-4.93352e-08 31.0743 8.95599 40.0302 20 40.0302C31.044 40.0302 40 31.0743 40 20.0303C40 8.98626 31.044 0.0302734 20 0.0302734ZM31.9778 26.4878C31.8338 26.8235 31.1862 27.3005 28.9212 27.6502C28.7357 27.6786 28.6639 27.92 28.5535 28.4256C28.5132 28.6097 28.4726 28.7906 28.4167 28.9808C28.3685 29.1455 28.2657 29.2228 28.0927 29.2228L28.0646 29.2228C27.9443 29.2228 27.774 29.2011 27.5577 29.1587C27.1741 29.0839 26.7441 29.0149 26.1969 29.0149C25.8774 29.0149 25.5469 29.0424 25.2145 29.0973C24.5349 29.2109 23.9578 29.618 23.3469 30.0501C22.4591 30.6781 21.5427 31.326 20.1141 31.326C20.0519 31.326 19.9911 31.3239 19.9298 31.3211C19.8907 31.3245 19.8502 31.326 19.8096 31.326C18.3817 31.326 17.4652 30.6784 16.579 30.0513C15.9671 29.6192 15.3894 29.2109 14.7089 29.0973C14.3768 29.0424 14.0463 29.0149 13.7274 29.0149C13.1516 29.0149 12.6981 29.1037 12.3663 29.1684C12.1652 29.2078 11.9913 29.2417 11.8591 29.2417C11.7212 29.2417 11.572 29.2118 11.507 28.9899C11.4505 28.7973 11.4099 28.6115 11.3702 28.4308C11.2689 27.9676 11.1972 27.6825 11.0031 27.6526C8.7384 27.3029 8.0899 26.8256 7.94556 26.4872C7.92541 26.4389 7.91321 26.3901 7.91077 26.3425C7.90344 26.2122 7.9953 26.0971 8.12408 26.0764C11.6052 25.5033 13.1665 21.9446 13.2315 21.7936C13.233 21.7899 13.2349 21.7856 13.237 21.7817C13.45 21.3498 13.4915 20.9748 13.3615 20.6675C13.1226 20.1047 12.3431 19.8572 11.8274 19.6936C11.7014 19.6534 11.5817 19.6158 11.4871 19.5783C10.4578 19.1715 10.3723 18.754 10.4129 18.5413C10.4819 18.1785 10.9665 17.9255 11.3586 17.9255C11.4658 17.9255 11.5604 17.9447 11.64 17.9819C12.1033 18.1986 12.5204 18.3088 12.8809 18.3088C13.3783 18.3088 13.5956 18.0997 13.6221 18.0723C13.609 17.8367 13.5934 17.5904 13.5776 17.3362C13.4738 15.6907 13.345 13.6451 13.8663 12.4778C15.4269 8.97863 18.7363 8.70641 19.7137 8.70641C19.7388 8.70641 20.1422 8.70214 20.1422 8.70214L20.1999 8.70214C21.1792 8.70214 24.4965 8.97436 26.0577 12.4756C26.5787 13.6435 26.4499 15.6907 26.3461 17.3353L26.3416 17.407C26.3272 17.6359 26.3132 17.8583 26.3016 18.0716C26.3266 18.0973 26.5265 18.2892 26.9772 18.3066L26.9775 18.3066C27.3209 18.2935 27.7145 18.1839 28.147 17.9819C28.2733 17.9224 28.4143 17.9099 28.5098 17.9099C28.6566 17.9099 28.8046 17.9386 28.9276 17.9895L28.9355 17.9929C29.285 18.1168 29.5142 18.3616 29.519 18.6179C29.5236 18.859 29.3393 19.2215 28.4366 19.5783C28.3429 19.6152 28.2233 19.6531 28.0963 19.6933C27.58 19.8569 26.8011 20.1047 26.5622 20.6672C26.4319 20.9748 26.4734 21.3492 26.6867 21.781C26.6885 21.7853 26.6907 21.7893 26.6925 21.7936C26.7572 21.9446 28.3167 25.5021 31.7999 26.0761C31.9284 26.0971 32.0206 26.2122 32.0132 26.3419C32.0105 26.3907 31.9986 26.4399 31.9778 26.4878Z"
                                      fill="#F1F1F1" class="svelte-cm8po2"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_1477_4386">
                                    <rect width="40" height="40" fill="white" transform="translate(0 0.0302734)">
                                    </rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </a><a href="#" rel="nofollow">
                        <svg width="38" height="38" viewBox="0 0 38 38"
                             fill="none" class="svelte-cm8po2">
                            <g clip-path="url(#clip0_1477_4388)">
                                <path d="M19 0.0302734C8.50821 0.0302734 0 8.31459 0 18.5303C0 28.746 8.50821 37.0303 19 37.0303C29.4918 37.0303 38 28.746 38 18.5303C38 8.31459 29.4918 0.0302734 19 0.0302734ZM28.5319 14.1852V16.6901C27.3188 16.6905 26.1401 16.4591 25.0285 16.0024C24.3137 15.7086 23.6477 15.33 23.0386 14.8725L23.0569 22.5827C23.0492 24.3189 22.3438 25.9501 21.067 27.1789C20.0279 28.179 18.7113 28.815 17.2842 29.0209C16.9489 29.0693 16.6076 29.0941 16.2625 29.0941C14.7349 29.0941 13.2846 28.6122 12.0982 27.7232C11.8749 27.5558 11.6614 27.3744 11.4581 27.1789C10.0744 25.8472 9.36084 24.0425 9.481 22.1438C9.57266 20.6986 10.1669 19.3203 11.1576 18.24C12.4683 16.8104 14.302 16.0169 16.2625 16.0169C16.6076 16.0169 16.9489 16.0422 17.2842 16.0905V17.0167V19.5931C16.9663 19.491 16.6267 19.4348 16.2731 19.4348C14.4819 19.4348 13.0328 20.8577 13.0596 22.6031C13.0766 23.7198 13.7031 24.696 14.6271 25.2341C15.0614 25.487 15.5609 25.6437 16.094 25.6721C16.5117 25.6945 16.9128 25.6378 17.2842 25.5184C18.564 25.1068 19.4872 23.9364 19.4872 22.556L19.4914 17.3928V7.96648H23.0343C23.0377 8.3083 23.0733 8.64181 23.1396 8.96498C23.407 10.2731 24.1642 11.4079 25.2181 12.1816C26.1371 12.8565 27.2814 13.2565 28.5217 13.2565C28.5225 13.2565 28.5327 13.2565 28.5318 13.2557V14.1852H28.5319Z"
                                      fill="#F1F1F1" class="svelte-cm8po2"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_1477_4388">
                                    <rect width="38" height="37" fill="white" transform="translate(0 0.0302734)">
                                    </rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="newsletter-container">
                <h3 class="text-white svelte-132tfyi">Đăng ký theo dõi bản tin của chúng tôi</h3>
                <form>
                    <div class="form svelte-10szfnd">
                        <div class="textfield-container svelte-10szfnd">
                            <label class="input-container svelte-1fpsr65" for="input.37">
                                <div class="flex svelte-1fpsr65">
                                    <div class="grow svelte-1fpsr65">
                                        <div :class="['label-container','svelte-1fpsr65',{ 'label-container': true, focused: isFocused }]">
                                            <div class="label text-input-label bold svelte-1fpsr65 grow">Địa chỉ e-mail của bạn </div>
                                        </div>
                                        <input type="email" autocomplete="email" v-on:focus="onFocus"
                                               v-on:blur="onBlur" id="input.37" placeholder="" aria-label="Địa chỉ e-mail của bạn" aria-invalid="false" class="text-field-title-l svelte-1fpsr65" data-testid="newsletter-email" required="">
                                    </div>
                                </div>
                            </label>
                        </div>
                        <button data-testid="newsletter-submit" class="svelte-1y8caig black text-white hover-black large-padding font-base" disabled="">
                            <div class="svelte-1y8caig">Đăng ký</div>
                        </button>
                    </div>
                </form>
            </div>
            <div class="text-center cookie ">
                Copyright © • Trang web này sử dụng cookie. Bằng việc tiếp tục sử dụng trang web này, bạn đồng ý với việc
                chúng tôi sử dụng cookie theo chính sách cookie của chúng tôi.
            </div>
        </div>
        
    </div>
    
</footer>
<script>
    var footer_vue = new Vue({
        el: '#footer_vue',
        data: {
            isFocused: false,
        },
        methods: {
            onFocus() {
                this.isFocused = true;
            },
            onBlur(event) {
                if (event.target.value === "") {
                    this.isFocused = false;
                }
            },
        },

    });
</script>