<header >
    <div id="header_vue" :class="[ 'header-main' ,{ fixed: isFixed }]">

        <div class="container d-flex justify-content-between main-head h-100-1">

            <div class="menu-logo d-flex align-items-center">

                <i class="fa-solid fa-bars" style="color: #ffffff; cursor: pointer;" v-on:click="navClick" v-if="isIcon"></i>
                <a href="javascript:void(0)" v-on:click="homeSrceen">

                    <img src="~/imgmain/logo-white-removebg-preview.png" style="width:150px; height:auto; object-fit:cover" />

                </a>
            </div>
            <div class="section-selector svelte-czigtf d-flex" data-mobile="false">
                <a :class="['text-white', 'svelte-czigtf', { active: selected === 'man' }]" data-mobile="false" data-testid="department-man"
                   href="javasript:void(0)" data-active="false" v-on:click.prevent="selectSection('man')">
                    Nam
                </a>
                <a :class="['text-white', 'svelte-czigtf', { active: selected === 'woman' }]" data-mobile="false" data-testid="department-woman"
                   href="javasript:void(0)" data-active="false" v-on:click.prevent="selectSection('woman')">Nữ </a>
                <a :class="['text-white', 'svelte-czigtf', { active: selected === 'child' }]" data-mobile="false" data-testid="department-kid"
                   href="javasript:void(0)" data-active="false" v-on:click.prevent="selectSection('child')">
                    Trẻ em
                </a>
            </div>
            <div class="search desktop svelte-1qzo6hh position-relative">
                <div>
                    <div slot="searchfield" data-testid="search-field" class="svelte-1k74hv1">
                        <div class="search-bar svelte-66ymmz position-relative ">
                            <input id="search" type="text" class="form-control "
                                   placeholder="Tìm kiếm theo hơn 10 000 mũ lưỡi trai, mũ beanie và các sản phẩm mũ nón khác ...">

                        </div>
                        <div class="position-absolute search-icon">
                            <i class='bx bx-search'></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-buttons svelte-1qzo6hh d-flex align-items-center justify-content-center">
                <div class="container position-relative">
                    <i class="fa-regular fa-heart js-toggle-cart" style="cursor: pointer;"></i>

                </div>

                <div class="container position-relative" data-testid="header-bag">
                    <i class='bx bx-shopping-bag js-toggle-cart' v-on:click="toggleCart($event)" id="trig" style="cursor: pointer;" ref="toggleCart"></i>
                    <div class="position-absolute count-bag">
                        {{count}}
                    </div>
                </div>

            </div>
        </div>
        <!-- Fixed navbar -->

        <aside class="cart js-cart" v-if="cartOpen" ref="cartAside">
            <div class="container-spin-2" id="preloader-2">
                <div class="loadingspinner">
                    <div id="square1"></div>
                    <div id="square2"></div>
                    <div id="square3"></div>
                    <div id="square4"></div>
                    <div id="square5"></div>
                </div>
            </div>
            <div class="cart__header d-flex align-items-center justify-content-between">
                <h1 class="cart__title ">Giỏ</h1>
                <div class="icon-buttons-2 icon-buttons-3 svelte-1qzo6hh d-flex">
                    <div class=" position-relative ">
                        <i class="fa-regular fa-heart" style="cursor: pointer;"></i>

                    </div>
                </div>
                <div class="icon-buttons-2 icon-buttons-3 svelte-1qzo6hh d-flex active-line">

                    <div class=" position-relative ">
                        <i class='bx bx-shopping-bag' style="cursor: pointer;"></i>
                        <div class="position-absolute count-bag-2">
                            {{count}}
                        </div>
                    </div>

                </div>

            </div>
            <div class="js-cart-products">
                <div class="cart__products">
                    <div class="d-flex flex-column" v-if="CartAdd && CartAdd.length > 0">
                        <div v-for="cartOrder in CartAdd">
                            <div class="d-flex  gap-15">
                                <div class="bg-gray d-flex justify-content-center align-items-center" style=" width: 96px;height: 110px;">
                                    <div class="">
                                        <img :src="cartOrder.imgProducts" style="width: 84px;height: auto;" />
                                    </div>
                                </div>
                                <div class="d-flex flex-column text-long">
                                    <div class="brands-name-cart mb-1">
                                        {{cartOrder.brandsName}}
                                    </div>
                                    <div class="product-name-cart mb-2">
                                        {{cartOrder.nameProduct}}

                                    </div>
                                    <div class="size-cart mb-1">
                                        {{cartOrder.selectSizeId}}

                                    </div>
                                    <div v-if="cartOrder.disPrice != null">
                                        <div class="price-cart">
                                            {{formatCurrency(cartOrder.disPrice)}}
                                            <span>
                                                {{formatCurrency(cartOrder.beforePrice)}}

                                            </span>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div class="price-cart-2">
                                            {{formatCurrency(cartOrder.beforePrice)}}

                                        </div>

                                    </div>
                                </div>



                            </div>
                            <div class="d-flex justify-content-between mt-4">
                                <div class="bg-gray" style="margin-right: 32px; cursor: pointer" v-on:click="deleteCart(cartOrder)">
                                    <i class="fa-regular fa-trash-can" style="padding: 8px; font-size: 26px"></i>
                                </div>
                                <div class="qty-container">
                                    <button class="qty-btn-minus btn-light" type="button" v-on:click="decreaseQuantity(cartOrder)">-</button>
                                    <input type="text" name="qty" :value="cartOrder.quantityCient" readonly class="input-qty" />
                                    <button class="qty-btn-plus btn-light" type="button" v-on:click="increaseQuantity(cartOrder)">+</button>
                                </div>
                            </div>
                            <div class="mt-4 mb-3" style="border-bottom: 3px solid #f1f1f1;">
                            </div>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center align-items-center flex-column" v-else>
                        <div>
                            <p class="cart__empty js-cart-empty">
                                Giỏ của bạn đang trống
                            </p>
                        </div>
                        <div>
                            0 sản phẩm trong giỏ
                        </div>
                        <div class="mt-5 mb-5 empty-img">
                            <img src="~/imgmain/emptycart-removebg-preview.png" />

                        </div>

                        <div class=" mb-5">
                            Thêm một sản phẩm để bắt đầu mua sắm
                        </div>

                        <div class="btn-heart d-flex justify-content-center mb-2">

                            <a class=" ">
                                Xem danh sách yêu thích

                            </a>
                        </div>
                        <div class="btn-conti d-flex justify-content-center mb-2">

                            <a class=" ">
                                Tiếp tục duyệt

                            </a>
                        </div>
                    </div>

                    <div class="products-more mt-4">
                        <h3>Gợi ý</h3>
                        <div class="row mt-2">
                            <div class="col-6 mb-4 position-relative" v-for="pr in dataProducts">
                                <a :href="`/Details/${pr.slug}`">
                                    <div class="flags-container svelte-1cfi39q" v-if="getDiscount(pr) !== '0%' ">
                                        <div class="container svelte-1tlm9rb">
                                            <div class="inner-container text-white small discount svelte-1tlm9rb"> {{ getDiscount(pr) }}</div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column text-more line-20-h">
                                        <div class="bg-gray text-more">
                                            <img :src="pr.imgProducts" />

                                        </div>
                                        <div class="brands-aside text-more mt-2">
                                            {{pr.brandsName}}
                                        </div>
                                        <div class="name-aside text-more mb-2">
                                            {{pr.nameProduct}}
                                        </div>
                                        <div class="d-flex ">
                                            <div class="price-aside">
                                                {{formatCurrency(pr.disPrice)}}

                                            </div>
                                            <div class="real-aside">
                                                {{formatCurrency(pr.beforePrice)}}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <div class="viewed-text">
                            Bạn đã xem {{viewedProducts}}/{{CountProductsHeader}} sản phẩm
                        </div>
                        <div class="more-line">
                            <div style="left: 0%;width: 0%;" class="bellow-line"></div>
                        </div>
                        <div>
                            <button class="mt-3 mb-5 btn-more-details" v-on:click="loadMore">
                                <div class="more-text">
                                    Tải thêm

                                </div>
                            </button>
                        </div>

                    </div>
                </div>



                <div class="cart__product js-cart-product-template">
                    <article class="js-cart-product">
                        <h1>Product title</h1>
                        <p>
                            <a class="js-remove-product" href="#" title="Delete product">
                                Delete product
                            </a>
                        </p>
                    </article>
                </div>
            </div>
            <div class="cart__footer">
                <div class="text-center" style="font-size: 12px">
                    Giao hàng: Miễn phí
                </div>
                <div class="text-center mb-3 total-header">
                    Tổng: {{formatCurrency(totalPrices)}}
                </div>
                <div class="d-flex align-items-center" v-on:click="checkoutLocation">

                    <div class="add-to-cart">
                        <div class="add-more d-flex justify-content-center">
                            <a href="javascript:void(0)">Tiến hành thanh toán</a>
                        </div>
                    </div>

                </div>
                @*<div class="cart__text d-flex" style="width: 100%">
                <div>
                <a class=" button " href="/Checkout" title="Buy products">
                Tiến hành thanh toán
                </a>
                </div>

                </div>*@
            </div>


        </aside>
        <div class="lightbox js-lightbox js-toggle-cart"></div>
        <style>
            .activeMain {
                border-bottom: 3px solid #f88749;
            }
        </style>
        <div class="nav-container svelte-1xt9nrt position-relative" id="nav_header_vue">
            <nav :class="['svelte-1xt9nrt','position-relative',{ fixedNav: !isNav, block: isNav }]">
                <div class="nav-content svelte-1xt9nrt">
                    <ul class="svelte-1xt9nrt">
                        <li class="svelte-1xt9nrt " id="open-cate-1" data-target="#cate-1"
                            data-opacity="opacity-layer">
                            <a href="/Category/new-in-stock" class="svelte-1xt9nrt">Mới</a>
                        </li>

                        <li class="svelte-1xt9nrt hover-trigger" data-target="#cate-2" data-opacity="opacity-layer">
                            <a href="#" class="svelte-1xt9nrt">Mũ lưỡi trai</a>
                        </li>
                        <li class="svelte-1xt9nrt hover-trigger" data-target="#cate-5">
                            <a href="#" class="svelte-1xt9nrt">Mũ beanie</a>
                        </li>
                        <li class="svelte-1xt9nrt hover-trigger" data-target="#cate-6">
                            <a href="#" class="svelte-1xt9nrt">Mũ</a>
                        </li>
                        <li class="svelte-1xt9nrt hover-trigger" data-target="#cate-3">
                            <a href="/Category/teams" class="svelte-1xt9nrt">Đội bóng</a>
                        </li>
                        <li class="svelte-1xt9nrt">
                            <a href="/Category/teams" class="svelte-1xt9nrt hover-trigger" data-target="#cate-4">Thương hiệu</a>
                        </li>
                        <li class="svelte-1xt9nrt">
                            <a href="/exclusives" class="svelte-1xt9nrt">Độc ​​quyền</a>
                        </li>
                        <li class="svelte-1xt9nrt">
                            <a href="/Category/sale" class="svelte-1xt9nrt">Giảm Giá</a>
                        </li>
                        <li class="svelte-1xt9nrt">
                            <a href="#" class="svelte-1xt9nrt">Shop Instagram</a>
                        </li>
                    </ul>

                </div>
            </nav>
            <div class="opacity" id="opacity-layer"></div>
            <div class="container category-main main-head position-absolute" id="cate-2">
                <div class="category">
                    <div class="d-flex justify-content-between align-items-center align-content-center">
                        <div class="title-category">
                            <h3 class="title-main">Mũ lưỡi trai</h3>
                            <div class="separator svelte-i2187t"></div>
                        </div>
                        <div class="three-button d-flex align-items-center align-content-center ">
                            <div class="top-list">
                                <a href="/Category/top-list">Top List</a>
                            </div>
                            <div class="news">
                                <a href="/Category/new-in-stock">Mới</a>
                            </div>
                            <div class="sales">
                                <a href="/Category/sale">Giảm giá</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 mb-3 " v-for="sub in dataCate">
                                    <div class="position-relative">
                                        <a :href=`/Category/${sub.slug}`>
                                            <img :src="sub.imgSub" />
                                            <div class="position-absolute text-white" style=" top: 39px;left: 50%;transform: translate(-50%, -50%);width: max-content; font-size:12px;font-weight:700">
                                                {{sub.nameSub}}
                                            </div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="banner-menu-1 position-relative">
                                        <img src="~/imgmain/filters_quality(75).webp" />
                                        <div class=" banner-img position-absolute">
                                            <div class="text-next">
                                                Hatstore exclusive
                                            </div>

                                        </div>
                                        <div class="icon position-absolute">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="banner-menu-1 position-relative">
                                        <img src="~/imgmain/filters_quality(75).webp" />
                                        <div class=" banner-img position-absolute">
                                            <div class="text-next">
                                                Hatstore exclusive
                                            </div>

                                        </div>
                                        <div class="icon position-absolute">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-page">
                        <div class="d-flex align-items-center">
                            <div>
                                <a href="/Category/mu-luoi-trai">
                                    <p>Xem tất cả mũ lưỡi trai</p>

                                </a>
                            </div>
                            <div>
                                <i class="fa-solid fa-chevron-right" style="color: #f88749;"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container category-main main-head position-absolute" id="cate-5" style="display: none">
                <div class="category">
                    <div class="d-flex justify-content-between align-items-center align-content-center">
                        <div class="title-category">
                            <h3 class="title-main">
                                Mũ beanie
                            </h3>
                            <div class="separator svelte-i2187t"></div>
                        </div>
                        <div class="three-button d-flex align-items-center align-content-center ">
                            <div class="top-list">
                                <a href="/Category/top-list">Top List</a>
                            </div>
                            <div class="news">
                                <a href="/Category/new-in-stock">Mới</a>
                            </div>
                            <div class="sales">
                                <a href="/Category/sale">Giảm giá</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 mb-3 " v-for="sub3 in dataCate2">
                                    <div class="position-relative">
                                        <a :href=`/Category/${sub3.slug}`>
                                            <img :src="sub3.imgSub" />
                                            <div class="position-absolute text-white" style=" top: 39px;left: 50%;transform: translate(-50%, -50%);width: max-content; font-size:12px;font-weight:700">
                                                {{sub3.nameSub}}
                                            </div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="banner-menu-1 position-relative">
                                        <img src="~/imgmain/filters_quality(75).webp" />
                                        <div class=" banner-img position-absolute">
                                            <div class="text-next">
                                                Hatstore exclusive
                                            </div>

                                        </div>
                                        <div class="icon position-absolute">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="banner-menu-1 position-relative">
                                        <img src="~/imgmain/filters_quality(75).webp" />
                                        <div class=" banner-img position-absolute">
                                            <div class="text-next">
                                                Hatstore exclusive
                                            </div>

                                        </div>
                                        <div class="icon position-absolute">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-page">
                        <div class="d-flex align-items-center">
                            <div>
                                <a href="/Category/mu-luoi-trai">
                                    <p>Xem tất cả mũ beanie</p>

                                </a>
                            </div>
                            <div>
                                <i class="fa-solid fa-chevron-right" style="color: #f88749;"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container category-main main-head position-absolute" id="cate-6" style="display: none">
                <div class="category">
                    <div class="d-flex justify-content-between align-items-center align-content-center">
                        <div class="title-category">
                            <h3 class="title-main">
                                Mũ
                            </h3>
                            <div class="separator svelte-i2187t"></div>
                        </div>
                        <div class="three-button d-flex align-items-center align-content-center ">
                            <div class="top-list">
                                <a href="/Category/top-list">Top List</a>
                            </div>
                            <div class="news">
                                <a href="/Category/new-in-stock">Mới</a>
                            </div>
                            <div class="sales">
                                <a href="/Category/sale">Giảm giá</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 mb-3 " v-for="sub2 in dataCate3">
                                    <div class="position-relative">
                                        <a :href=`/Category/${sub2.slug}`>
                                            <img :src="sub2.imgSub" />
                                            <div class="position-absolute text-white" style=" top: 39px;left: 50%;transform: translate(-50%, -50%);width: max-content; font-size:12px;font-weight:700">
                                                {{sub2.nameSub}}
                                            </div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="banner-menu-1 position-relative">
                                        <img src="~/imgmain/filters_quality(75).webp" />
                                        <div class=" banner-img position-absolute">
                                            <div class="text-next">
                                                Hatstore exclusive
                                            </div>

                                        </div>
                                        <div class="icon position-absolute">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="banner-menu-1 position-relative">
                                        <img src="~/imgmain/filters_quality(75).webp" />
                                        <div class=" banner-img position-absolute">
                                            <div class="text-next">
                                                Hatstore exclusive
                                            </div>

                                        </div>
                                        <div class="icon position-absolute">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-page">
                        <div class="d-flex align-items-center">
                            <div>
                                <a href="/Category/mu-luoi-trai">
                                    <p>Xem tất cả mũ </p>

                                </a>
                            </div>
                            <div>
                                <i class="fa-solid fa-chevron-right" style="color: #f88749;"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container category-main main-head custom-cate3 position-absolute" style="display:none" id="cate-3">
                <div class="category">
                    <div class="d-flex justify-content-between align-items-center align-content-center">
                        <div class="title-category">
                            <h3 class="title-main">Đội bóng</h3>
                            <div class="separator svelte-i2187t"></div>
                        </div>


                    </div>

                    <div>
                        <div class="d-flex gap-15">
                            <div v-for="(mainClb, index) in dataClb"
                                 :key="mainClb.nameMainCLB"
                                 v-on:mouseover="mouseOver(mainClb)"
                                 :class="{activeMain: mainClb.nameMainCLB === (activeMainClb ? activeMainClb.nameMainCLB : '')}"
                                 style="cursor: pointer">
                                <div class="d-flex flex-row bg-gray align-items-center" style="cursor:pointer" v-on:click="categoryDetailsTeam(mainClb)">
                                    <div style="padding: 12px 32px;">
                                        {{ mainClb.nameMainCLB }}
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div v-if="activeMainClb" class="mt-5">
                            <div class="d-flex gap-40 align-items-center">
                                <div v-for="clbMainTwo in activeMainClb.prClbs"
                                     :key="clbMainTwo.id"
                                     class="col-3"
                                     style="border-top: 2px solid #f1f1f1; border-bottom: 1px solid #f1f1f1">
                                    <div class="d-flex flex-row align-items-center mt-3 mb-3" style="cursor:pointer" v-on:click="categoryDetails(clbMainTwo)">

                                        <div>
                                            <img :src="clbMainTwo.imgCLB"
                                                 :alt="clbMainTwo.nameCLB"
                                                 class="clb-image"
                                                 style="object-fit:cover; width: auto;height: 30px;" />
                                        </div>

                                        <div class="clb-name" style="margin-left: 20px">{{ clbMainTwo.nameCLB }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>

                <div class="next-page mt-5">
                    <div class="d-flex align-items-center">
                        <div>
                            <a href="/Category/mu-luoi-trai">
                                <p>Xem tất cả mũ lưỡi trai</p>

                            </a>
                        </div>
                        <div>
                            <i class="fa-solid fa-chevron-right" style="color: #f88749;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container category-main main-head custom-cate-4  position-absolute" style="display:none" id="cate-4">
                <div class="category">
                    <div class="d-flex justify-content-between align-items-center align-content-center">
                        <div class="title-category">
                            <h3 class="title-main">Thương hiệu</h3>
                            <div class="separator svelte-i2187t"></div>
                        </div>


                    </div>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-6 mb-3" v-for="brands in dataBrandNews">
                                        <div class="d-flex flex-column">
                                            <a :href="`/Category/${brands.slug}`" style="color: #262626; font-size:14px">
                                                <div>
                                                    {{brands.nameBrand}}
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="banner-menu-1 position-relative">
                                            <img src="~/imgmain/filters_quality(75).webp" />
                                            <div class=" banner-img position-absolute">
                                                <div class="text-next">
                                                    Hatstore exclusive
                                                </div>

                                            </div>
                                            <div class="icon position-absolute">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="banner-menu-1 position-relative">
                                            <img src="~/imgmain/filters_quality(75).webp" />
                                            <div class=" banner-img position-absolute">
                                                <div class="text-next">
                                                    Hatstore exclusive
                                                </div>

                                            </div>
                                            <div class="icon position-absolute">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>





                </div>

                <div class="next-page mt-5 mb-3">
                    <div class="d-flex align-items-center">
                        <div>
                            <a href="/Category/mu-luoi-trai">
                                <p>Xem tất cả thương hiệu</p>

                            </a>
                        </div>
                        <div>
                            <i class="fa-solid fa-chevron-right" style="color: #f88749;"></i>
                        </div>
                    </div>
                </div>

                <div class="d-flex gap-40 mt-2 justify-content-sm-center">
                    <div v-for="(brandImg, index) in dataBrandNews" v-if="index < 7">
                        <img :src="brandImg.imgBrand" style="object-fit:cover; height: 70px; width: auto" />
                    </div>
                </div>
            </div>

        </div>

    </div>
   
</header>


<script src="~/frontend/js/header.js" asp-append-version="true"></script>