@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Quản lý danh mục size</h1>
<div id="Admin_size">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Thuộc tính Size</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="model-tab" data-bs-toggle="tab" data-bs-target="#model" type="button" role="tab" aria-controls="model" aria-selected="false">Thuộc tính màu</button>
        </li>
       
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="p-3">
                <button type="button" class="btn btn-success p-2" data-bs-toggle="modal" data-bs-target="#exampleModal" v-on:click="resetData">
                    Thêm mới size
                </button>
            </div>
            <table class="table table-bordered" id="size_table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Loại size</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in dataSubItems" :key="index">
                        <td>{{index + 1}}</td>
                        <td>{{item.nameSize}}</td>

                        <td style="width:30%">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Edit" v-on:click="getItemsById(item.id)">Sửa</button>
                            <button type="button" class="btn btn-danger"  v-on:click="getItemsByIdDelete(item.id)">Xóa</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="model" role="tabpanel" aria-labelledby="model-tab">
            <div class="p-3">
                <button type="button" class="btn btn-success p-2" data-bs-toggle="modal" data-bs-target="#addColor" v-on:click="resetDataColor">
                    Thêm mới thuộc tính màu
                </button>
            </div>
            <table class="table table-bordered" id="color_table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Loại thuộc tính màu</th>
                        <th>Icon màu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(items,index) in dataItems" :key="index">
                        <td>{{index + 1}}</td>
                        <td>{{items.nameColor}}</td>
                        <td>
                            <img :src="items.imgColor" style="width: 80px; height: 80px; object-fit:cover" />
                        </td>

                        <td style="width:30%">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModelColor" v-on:click="getItemsByIdColor(items.id)">Sửa</button>
                            <button type="button" class="btn btn-danger" v-on:click="getItemsByIdDeleteColor(items.id)">Xóa</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
      
    </div>
    <div id="main">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-fullscreen ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới loại size</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Loại size </label>
                                <input class="form-control" type="text" placeholder="Loại danh mục" aria-label="default input example" v-model="NameSize">
                            </div>


                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="addCategory">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    @*edit*@
    <div class="modal fade" id="Edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-fullscreen ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa  loại size</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetData">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Loại size</label>
                                <input class="form-control" type="text" placeholder="Loại danh mục" aria-label="default input example" v-model="NameSize">
                            </div>


                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetData">Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="editCategory">Sửa danh mục</button>

                </div>
            </div>
        </div>
    </div>

    @*mau*@
    <!-- Modal -->
    <div class="modal fade" id="addColor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-fullscreen ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới loại màu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetDataColor">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Loại màu </label>
                                <input class="form-control" type="text" placeholder="Loại danh mục" aria-label="default input example" v-model="NameColor">
                            </div>
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label"> Chọn ảnh </label>
                                <input type="file" ref="PrPath" v-on:change="onFileChange" accept="image/*">

                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Icon xem trước </div>
                                <img :src="previewImage" alt="" style="width:50%" />
                            </div>
                          

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetDataColor">Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="addColor">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    @*edit*@
    <div class="modal fade" id="EditModelColor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl modal-fullscreen ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa  loại size</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetDataColor">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Loại màu </label>
                                <input class="form-control" type="text" placeholder="Loại danh mục" aria-label="default input example" v-model="NameColor">
                            </div>
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label"> Chọn ảnh </label>
                                <input type="file" ref="PrPath1" v-on:change="onFileChange" accept="image/*">

                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Icon xem trước </div>
                                <img :src="previewImage" alt="" style="width:50%" />
                            </div>
                            <div class="mb-3">
                                <div class="form-label"> Icon đang có </div>
                                <img :src="imgColor" alt="" style="width:50%" />
                            </div>


                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetDataColor">Đóng</button>
                    <button type="button" class="btn btn-primary" v-on:click="editColor">Sửa danh mục</button>

                </div>
            </div>
        </div>
    </div>
   
</div>
<script src="~/js/admin/admin_size.js"></script>