

<style>
    .thankyou-wrapper {
        width: 100%;
        height: auto;
        margin: auto;
        background: #ffffff;
        padding: 10px 0px 50px;
    }

        .thankyou-wrapper h1 {
            font: 100px Arial, Helvetica, sans-serif;
            text-align: center;
            color: #333333;
            padding: 0px 10px 10px;
        }

        .thankyou-wrapper p {
            font: 26px Arial, Helvetica, sans-serif;
            text-align: center;
            color: #333333;
            padding: 5px 10px 10px;
        }

        .thankyou-wrapper a {
            font: 26px Arial, Helvetica, sans-serif;
            text-align: center;
            color: #ffffff;
            display: block;
            text-decoration: none;
            width: 250px;
            background: #E47425;
            margin: 10px auto 0px;
            padding: 15px 20px 15px;
            border-bottom: 5px solid #F96700;
        }

            .thankyou-wrapper a:hover {
                font: 26px Arial, Helvetica, sans-serif;
                text-align: center;
                color: #ffffff;
                display: block;
                text-decoration: none;
                width: 250px;
                background: #F96700;
                margin: 10px auto 0px;
                padding: 15px 20px 15px;
                border-bottom: 5px solid #F96700;
            }
</style>

<section class="login-main-wrapper">
    <div class="main-container">
        <div class="login-process">
            <div class="login-main-container">
                <div class="thankyou-wrapper">
                    <h1><img src="http://montco.happeningmag.com/wp-content/uploads/2014/11/thankyou.png" alt="thanks" /></h1>
                    <p>Cảm ơn quý khách hàng đã đặt hàng của chúng tôi !!! <br /> Đơn hàng sẽ đên tay quý khách trong thời gian sớm nhất. Xin cảm ơn !!! </p>
                    <a href="/">Tiếp tục mua sắm</a>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</section>


<section class="bg-gray p-5">
    <div class="container-fluid">
        <h3 class="text-center why">Tại sao bạn chọn chúng tôi?</h3>
        <div class=" row d-flex align-items-center justify-content-between mt-5">
            <div class=" col-4 text-center b-r cus-p">
                <p class="text-main-last">
                    Vận chuyển có thể theo dõi
                </p>
                <p>
                    Giao hàng miễn phí cho các đơn đặt hàng trên 999000 VND
                </p>
            </div>
            <div class=" col-4 text-center b-r cus-p">
                <p class="text-main-last">
                    Đa dạng sản phẩm
                </p>
                <p>
                    Hơn 15 000 sản phẩm có sẵn
                </p>
            </div>
            <div class=" col-4 text-center cus-p ">
                <p class="text-main-last">
                    Chính sách hoàn trả thuận tiện
                </p>
                <p>
                    Hoàn trả trong vòng 100 ngày
                </p>
            </div>
        </div>
    </div>
</section>